// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.response {
  border: solid;
  border-radius: 4px;
  width: 250px;
  padding: 5px;
}

.answer {
  border: solid;
  border-radius: 4px;
  width: 250px;
  padding: 5px;
  background-color:bisque;
}

h2 {
  font-size: 18px;
}
 .submit {
  border-radius: 4px;
  background-color: #6622CC;
  color: white;
  height: 36px;
  width: 46px;
  margin: 0;
 }

 .question {
  height: 23px;
  margin: 0;

 }

 .question, .submit {
   margin: 0;
 }
